body {
    font-family: 'Figtree';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header, section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: var(--card-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

h1, h2, h3 {
    color: var(--heading-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

h2 {
    border-bottom: 2px solid  var(--border-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

article {
    margin-bottom: 20px;
}

article h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--subheading-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

article p {
    margin: 5px 0;
}

.profile-image-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .theme-toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000; /* Ensure it stays on top */
  }

  .theme-toggle-button i {
    color: var(--text-color);
  }

  .icon-large {
    font-size: 1.4em;
}